body {
  background: #3e474f;
}

#menu {
  background: #000;
  border-bottom: 2px solid #666;
}
#menu a {
  color: #fff;
}
#menu a:hover {
  background: #4f5a64;
}

#sidebar {
  overflow-y: scroll;
  width: 25%;
  float: left;
  background: #434d56;
}
#sidebar .list_item {
  clear: both;
}
#sidebar .list_item a {
  width: 100%;
  display: block;
  padding: 20px 0;
  text-align: center;
  color: #fff;
}
#sidebar .list_item:hover {
  background: #4f5a64;
}

#contentArea {
  width: 75%;
  float: right;
  padding: 50px;
  color: #fff;
}

.passwordContent {
  display: block;
  color: #fff;
}
.passwordContent span {
  float: left;
  display: block;
  margin: 0 20px 0 0;
  width: 10%;
}
.passwordContent div {
  clear: both;
}
.passwordContent .sitename span {
  width: 100%;
  padding: 0 0 10px 0;
  font-size: 150%;
  border-bottom: 1px solid #e4e4e4;
  margin: 0 0 40px 0;
}
.addForm {
  color: #fff;
}
.addForm label {
  color: #fff;
  text-transform: capitalize;
}

/*# sourceMappingURL=styles.css.map */
